html, body{
  margin: 0;
  height: 100%;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.dark {
  color: #dadada;
  background: #1c2022;
  min-height: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.btn-clear {
  border: none;
  background: transparent;
}

.btn-clear:focus {
  outline: none;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.nav li{
  margin-right: 15px;
}

.card {
  margin: 15px;
  padding: 5px;
  width: 250px;
  border: 1px solid #d8d8d8;
  text-align: center;
  border-radius: 10px;
}

.card h3{
  font-size: 25px;
}

.countrywide {
  text-align: center;
  margin-bottom: 25px;
}

.countrywide a{
  font-weight: bold;
}

.co-dark {
  color: #ffffff;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box-light {
  width: 300px;
  font-size: 30px;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
}

.search-box-dark {
  width: 300px;
  font-size: 30px;
  background: #1c2022;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  color: #ffffff;
}

.search-box-light:focus {
  outline: none;
}

.search-box-dark:focus {
  outline: none;
}

.number-card {
  padding-bottom: 30px;
  margin-top: 25px;
}

.number-head {
  font-size: 24px;
  /* padding: 0; */
}

.call-light {
  text-decoration: none;
  color: #000000;
  padding: 5px 10px;
  border: 1px solid #000000;
}

.call-light:hover {
  background-color: #6a6a6a;
  color: white;
}

.call-dark {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
  border: 1px solid #ffffff;
}

.call-dark:hover {
  background-color: #6a6a6a;
  color: white;
}

.call-icon {
  vertical-align: middle;
  padding-right: 5px;
  padding-bottom: 5px;
}

.news-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-card {
  width: 550px;
  padding-bottom: 50px;
  margin: 10px 20px;
}

.news-card img {
  max-width: 100%;
  height: 200px;
}

@media(max-width: 768px) {
  .search-box-light {
    width: 180px;
    font-size: 20px;
    margin-top: 15px;
  }

  .search-box-dark {
    width: 180px;
    font-size: 20px;
    margin-top: 15px;
  }

  .nav-link {
    font-size: 16px;
  }
}

@media(max-width: 425px) {
  .card {
    width: 100%;
    margin: 15px auto;
  }

  .news-card {
    margin: 10px 0;
    width: 100%;
  }

  .news-card img {
    max-width: 100%;
    height: auto;
  }
}